# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log

# Vite
dist/
.vite/
*.local

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# Optional: logs
logs/
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
turbo.log

# dotenv environment files
.env
.env.*.local

# Tailwind JIT cache
.tailwind-cache/

# coverage from testing tools like jest
coverage/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.swp
*.swo
